.login-card {
    font-family: 'Source Sans Pro', sans-serif;
}

.login-card header h3 {
    text-align: center;
    font-size: 2.8em;
    margin-bottom: 5%;
}

.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
}


.login-form {
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    background-color: white;
    padding: 30px 30px 0px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.login-form input {
    border: 0px;
    padding-bottom: 5px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-bottom: 1px solid #708090;
    font-size: 1.25em;
    font-family: 'Source Sans Pro', sans-serif;
}

.login-form input::placeholder {
    font-size: 1    em;
    color: #708090;
    font-family: 'Source Sans Pro', sans-serif;
}

#li-submit {
    padding: 10px 0px 10px 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
    margin-top: 5%;
    color: white;
    border-top: 30px;
    background-color: #a4c739;
    width: 125%;
    border-radius: 0px 0px 5px 5px;
    transform: translateX(-10%) translateY(2%);
    position:relative;
}
