.profile-card-container {
    margin-top: 1.5625em;
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 4px;
    font-family: 'Souce Sans Pro', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    height: auto;
}

.profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1.5em;
    padding-left: 1.5em;
}

.profile-img {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-img img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: cover;
    height: inherit;
    width: inherit;
}

.profile-details {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-name {
    font-size: 20px;
    margin: 0px;
}

.profile-details h6 {
    margin: 0px;
}

.profile-details h5 {
    margin: 0px;
}

.profile-details p {
    margin: 0px;
}

.profile-details .profile-creation-date {
    border-top: 1px solid black;
    padding-top: 8px;
}

.profile-properties-reservations {
    text-align: center;
    margin-top: 40px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.profile-properties-reservations input {
    color: white;
    display: inline-block;
    padding: 9px 25px;
    margin-left: 20px;
    background-color: #2E8CAE;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3em;
    font-weight: 300;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.profile-properties-reservations input:hover {
    background-color: #a4c739;
    color: black;
}