.profile-card-container {
    background-color: white;
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 4px;
    font-family: 'Souce Sans Pro', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    height: 330px;
}

.profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 330px;
}

.profile-img {
    height: 215px;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-img img {
    border-radius: 50%;
    border: 1px solid red;
    object-fit: cover;
    height: inherit;
    width: inherit;
}

.profile-details {
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 20px;
    margin: 0px;
}