.property-card-container {
    margin-top: 25px;
    width: 100%;
    height: 260px;
    background-color: white;
    border-radius: 4px;
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.property-card {
    display: flex;
    
}

.property-img {
    height: 260px;
    width: 390px;
    margin-right: 20px;
}

.property-img img {
    object-fit: cover;
    height: inherit;
    width: inherit;
    border-radius: 4px 0px 0px 4px;
}

.property-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin-right: 20px;
}

.property-features {
    border-top: 1px solid #d3d3d3;
    padding-top: 10px;
    display: flex;
    color: #708090;
    justify-content: space-between;
}

.property-pricing {
    color: #2E8CAE;
}

.property-region {
    text-transform: uppercase;
    color: #708090;
    margin: 0px;
    font-size: 1em;
}

.property-title {
    margin: 0px;
    font-size: 1.3em;
    color: black;
}

.property-title a{
    color: black;
}

.property-title a:link{
    text-decoration: none;
}

.property-pricing {
    margin: 0px;
    font-size: 1em;
}

.property-description {
    color: #708090;
}

.property-area img {
    width: 15px;
}

.property-bedrooms img {
    width: 15px;
}

.property-bathrooms img {
    width: 15px;
}

.property-kitchens img {
    width: 15px;
}

.region-options-div {
    display: flex;
}

.region-options-div button {
    margin-left: auto;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 1em;
    text-decoration: underline;
    color: #adadad;
}

.region-options-div button:hover {
    color: #616161;
}