.reservations-seperator {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #0B3B49 ;
}

.login-warning {
    font-family: 'Source Sans Pro', sans-serif;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    font-size: 2em;
    padding-top: 5%;
}