.reservation-card-container {
    margin-top: 25px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 180px;
    background-color: white;
    border-radius: 4px;
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.reservation-card {
    display: flex;
}

.reservation-img {
    height: 180px;
    width: auto;
    margin-right: 20px;
}

.reservation-img img {
    object-fit: cover;
    height: inherit;
    width: inherit;
    border-radius: 4px 0px 0px 4px;
}

.reservation-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reservation-pricing {
    color: #2E8CAE;
}

.reservation-region {
    text-transform: uppercase;
    color: #708090;
    margin: 0px;
    font-size: 1em;
}

.reservation-title {
    margin: 0px;
    font-size: 1.3em;
    color: black;
}

.reservation-title a{
    color: black;
}

.reservation-title a:link{
    text-decoration: none;
}

/**/
.reservation-pricing {
    margin: 0px;
    font-size: 1em;
}

.reservation-description {
    color: #708090;
}

.reservation-area img {
    width: 15px;
}

.reservation-bedrooms img {
    width: 15px;
}

.reservation-bathrooms img {
    width: 15px;
}

.reservation-kitchens img {
    width: 15px;
}

/* Reservation card 2 */
.reservation-card-container2 {
    margin-top: 25px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 180px;
    background-color: white;
    border-radius: 4px;
    grid-column-start: 2;
    grid-column-end: 3;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.reservation-card2 {
    display: flex;
}

.reservation-usr-image {
    height: 160px;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reservation-usr-image img {
    object-fit: cover;
    height: inherit;
    width: inherit;
    border-radius: 50%;
    max-width:100%;
    max-height:100%;
}

.reservation-details2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reservation-pricing2 {
    color: #2E8CAE;
}

.reservation-region2 {
    text-transform: uppercase;
    color: #708090;
    margin: 0px;
    font-size: 1em;
}

.reservation-title2 {
    margin: 0px;
    font-size: 1.3em;
    color: black;
}

.reservation-title2 a {
    color: black;
}

.reservation-title2 a:link {
    text-decoration: none;
}

.reservation-pricing2 {
    margin: 0px;
    font-size: 1em;
}

.reservation-client2 {
    margin-top: 5px;
    margin-bottom: 5px;
} 

.reservation-details2 p {
    margin-top: 5px;
    margin-bottom: 5px;
}