.signup-card {
    font-family: 'Source Sans Pro', sans-serif;
}

.signup-card header h3 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
}
.signup-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

.signup-form {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    background-color: white;
    padding: 30px 30px 0px 30px;
    margin-bottom: 0px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.signup-form input {
    border: 0px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding-bottom: 5px;
    border-bottom: 1px solid #708090;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

.signup-form input::placeholder {
    font-size: 20px;
    color: #708090;
    font-family: 'Source Sans Pro', sans-serif;
}

.signup-form #sp-password {
    font-size: 1em;
}

.signup-form #sp-confirmpassword {
    font-size: 1em;
}

#sp-submit {
    padding: 10px 0px 10px 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
    color: white;
    border-top: 30px;
    background-color: #a4c739;
    width: 124.79%;
    border-radius: 0px 0px 5px 5px;
    transform: translateX(-10%) translateY(2%);
    position:relative;
}

meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
        appearance: none;

    margin-bottom: 2.5%;
    width: 100%;
    height: 0.5em;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
    }

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: yellow; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: green; }